.TodoItem-text{
    margin: 24px 0, 24px 24px;
    width: calc(100% - 120ox);
    font-size: 36px !important;;
    font-weight: bold;
    line-height: 36px !important;;
    color:white
}

.TodoItem-text--complete{
    text-decoration:line-through;
    color: darkgray;
}